<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
   
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.jboss.tools.maven.accessrules.accessRulesProjectConfigurator"
          class="org.jboss.tools.maven.accessrules.internal.AccessRulesProjectConfigurator"
          name="Access Rules Configurator"
          secondaryTo="org.eclipse.m2e.jdt.javaConfigurator"/>
    </extension>
    

</plugin>
